html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: none;
  transition: .2s linear;
}

body,
button,
input{
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

body{
  overflow-x: hidden;
  background-color: #FFF;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

/* buttons */
.button{
  display: grid;
  border: none;
  outline: none;
  color: white;
  padding: 1.4rem 4rem;
  border-radius: 2rem;
  background-color: #C87E4F;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover{
  background-color: #C2703D;
}
.buttons{
  position: relative;
  left: 30%;
  width: 90px;
  height: 40px;
  background-color: #C87E4F;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3rem;
}
.buttons:hover{
  background-color: #333;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  min-height: 100vh;
  background: white;
}

/* NAV */
header{
  position: fixed;
  width: 100%;
  height: 7rem;
  background-color: white;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
  transition: all .50s ease;
}
.logo{
  display: flex;
  align-items: center;
  position: relative;
  top: 60%;
}
/*
.navbar{
  display: flex;
}
.navbar :hover{
  padding: 19px;
  color: white;
  background: #2C3034;
  transition: all 0.5s ease;
}
.navbar a{
  color: black;
  font-size: 1.9rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
} *//

.navbar{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.navbar ul{
  list-style: none;
  display: flex;
  position: relative;
  left: 11%;
}
.navbar ul li{
  padding: 10px 20px;
  position: relative;
}
.navbar ul li a{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s;
}
.navbar ul li a:hover{
  color: #0073ff;
}
.dropdown{
  display: none;
}
.dropdown ul{
  display: block;
  margin: 10px;
}
.dropdown ul li{
  width: 150px;
  padding: 10px;
}
.navbar ul li:hover .dropdown{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  border-radius: 2rem;
}

/* HOME */
.home-content{
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
  color: white;
}
.home-details{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-bottom: 2px solid black;
  color: rgba(255, 255, 255, 0.8);
}
.subtitle{
  border: 2px solid black;
  font-size: 20px;
  color: #333;
  padding: 1rem;
  margin-top: -30px;
}
.home-text{
  font-size: 50px;
  font-weight: 600;
  color: #2C3034;
}

/* X-MAS */
.x-mas-container{
  position: absolute;
  top: 60%;
  left: 40%;
  padding: 15px 9%;
  padding-bottom: 100px;
}
.x-mas-container h2{
  font-size: 30px;
  position: relatives;
  top: 190%;
  text-align: left;
  color: #faa307;
}
.box-mas p{
  font-size: 25px;
  text-align: left;
  color: white;
}
.x-mas-container .mas-container{
  position: relative;
  top: -30%;
  left: -90%;
  width: 130%;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
/* box color */
.x-mas-container .mas-container .box-mas{
  border-radius: 5px;
  background: #c1121f;
  text-align: center;
  padding: 30px 25px;
  padding-left: 7rem;
}

/* NEW YEAR */
.newyr-container{
  position: absolute;
  top: 150%;
  left: 40%;
  padding: 15px 9%;
}
.newyr-container h2{
  font-size: 30px;
  position: relatives;
  top: 190%;
  text-align: left;
  color: black;
}
.box-new p{
  font-size: 20px;
  text-align: left;
  color: white;
}
.newyr-container .new-container{
  position: relative;
  top: -30%;
  left: 5%;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
/* box color */
.newyr-container .new-container .box-new{
  border-radius: 5px;
  background: #fcb75d;
  text-align: center;
  padding: 70px 25px;
  padding-left: 7rem;
}

/* VALENTINE'S DAY */
.valend-container{
  position: absolute;
  top: 212%;
  left: 40%;
  padding: 15px 9%;
  padding-bottom: 100px;
}
.valend-container h2{
  font-size: 30px;
  position: relatives;
  top: 190%;
  text-align: left;
  color: #faa307;
}
.box-valen p{
  font-size: 25px;
  text-align: left;
  color: white;
}
.valend-container .valen-container{
  position: relative;
  top: -30%;
  left: -90%;
  width: 130%;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
/* box color */
.valend-container .valen-container .box-valen{
  border-radius: 5px;
  background: #c1121f;
  text-align: center;
  padding: 25px 20px;
  padding-left: 7rem;
}

/* Footer */
.footer{
  padding: 4rem 2rem 3rem;
  background-color: #2C3034;
}
.footer .content-description{
  color: white;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content{
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon{
  color: #888682;
  font-size: 2rem;
  font-weight: 500;
}
.footer .logo-icon{
  font-size: 3rem;
}
.footer .content-description{
  text-align: left;
  font-size: 20px;
}

.footer-linkContent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: end;
}
.footer-links{
  display: grid;
  row-gap: 1rem;
  font-weight: 500;
  color: #FFF;
}
.footer-link{
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.footer-link:hover{
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight{
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #888682;
  color: rgba(255, 255, 255, 0.8);
}