/* for bootstrap */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');


/* for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url('bootstrapCSS/bootstrap.min.css'); */

/* font google icon */
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

/* for stars */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); 

.carousel-content, .header-height {
  height: 500px;
}
.custom-dark-dark-bg
{
  background-color: #111418;
}

.navbar-footer-color
{
  background-color:#0E0F0F !important;
}

/* for background only */
.index > header > .carousel > .carousel-inner > .carousel-item:nth-child(1) > .row 
{
    background-image: url("../images/homepage/homeBG.png");
    background-size: auto;
}
.index > header > .carousel >.carousel-inner > .carousel-item:nth-child(2) > .row 
{
    background-image: url("../images/homepage/homebg3.jpeg");
    background-size: auto;
    
}
.index > header > .carousel >.carousel-inner > .carousel-item:nth-child(3) > .row 
{
    background-image: url("../images/homepage/homebg2.jpg");
    background-size: auto;
}

.find-something header
{
  background-image: url("../images/find-header .png");
  background-size: auto;
  height: 400px;
}
.cuisine header 
{
  background-image: url("../images/cuisine-header.png");
  background-size: auto;
  height: 500px;
}
.service header 
{
  background-image: url("../images/services.png");
  background-size: auto;
  height: 500px;
}
.reservation > header
{
  background-image: url("../images/resto-header.png");
  height: 900px;
}

.reservation-section
{
  background-image: url("../images/homepage/sectionbg.png");
}

.reservation-section .row
{
  height: 300px;
}
/* Transition */
/* restaurant and dishes image(zoom) transition */
.restaurant img, .dishes img
{
  transition: 0.5s ease-in-out;
}

.restaurant img:hover, .dishes img:hover
{
  transform: scale(1.1);
}

/* services transition */
.services .col-lg-4
{
  transition: .2s linear;
    
}


.services .col-lg-4:hover
{
  background-color: var( --bs-light);
  color: var(--bs-dark);
  transform:scale(1.05); 
}


.search-restaurant .row:hover ,
.restaurant .card:hover, .cuisine .card:hover, .dishes .card-body:hover
{
  background-color: #393d3f !important;
}

.search-restaurant .container .row h2:hover
{
  cursor: pointer;
}

.services .col-lg-4 .btn
{
  transition: .2s linear;
}

.services .col-lg-4 .btn:hover
{
  background-color: var( --bs-dark);
  color: var(--bs-light);
  transform:scale(1.05);
}

/* footer edits */

/* login edits */
.bd-placeholder-img {
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

/* checked stars */
.checked 
{
  color: orange; 
}

/* login and register*/
.login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-login-bg
{
  background-image: url("../images/register-bg.png");
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* navbar height */
.navbar-height{
  height: 80px;
}


/* breakfast */
.image{
  height: 310px;
  width: 290px;
}
.intro{
  height: 80px;
  width: 290px; 
  padding: 6px;
  box-sizing: border-box;
  transform: translateY(-80px);
  color: white;
  background: rgba(27, 27, 27, 0.5); 
  transition: .5s;
}
.intro h3{
  margin: 10px;
  font-size: 20px;
  
}
.intro p{
  font-size: 15px;
  margin: 20px;
  opacity: 0;
  visibility: hidden;
}
.card-:hover{
  cursor: pointer;
}
.card-:hover .intro{
  transform: translateY(-200px);
  opacity: 1;
  height: 200px;
}
.card-:hover p{
  opacity: 1;
  visibility: visible;
}

/* Reservation container */
.reser-height{
  height: 600px;
  width: 600px;
}


/* stars */

.rating { 
  border: none;
  float: left;
  }

  .rating > input { display: none; } 
  .rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  }

  .rating > .half:before { 
  content: "\f089";
  position: absolute;
  }

  .rating > label { 
  color: #ddd; 
  float: right; 
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* text-indent */
blockquote
{
  text-indent: 50px;
}